<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATALORE</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    {% block extralinks %} {% endblock %}
</head>

<body class="main_body_bg_color">
    <div class="wrapper">
        <div id="mainbody" class="main_container" style="padding-top:65px;">

            {% block breadcrumb %}
            {% endblock %}

            {% block content %}
            {% endblock %}
            <div class="container" class="mx-auto" style="width: 200px;">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        {{form}}
                        <!-- <p><label for="id_days">Days:</label> <input type="text" name="days" required
                                        id="id_days">
                                </p> -->
                    </div>
                    <div style=margin:30px>
                        <button type="submit" class="btn btn-primary save">Save File</button>
                    </div>
                </form>
                <div class="text-center">
                    {% comment %} <a href="{% url 'sample_lead_file' %}">Download Sample File</a> {% endcomment %}
                </div>
            </div>

        </div>

        {% block js_block %}
        {% endblock js_block %}
        <!-- <script type="text/javascript">
      $(document).ready(function(){
          word = window.location.pathname.split('/')[1]
          if(word == ""){
            $("#dashboard").addClass('active')
          }
          else{
            $('#' + word).addClass('active')
          }
      });
    </script> -->
</body>

</html>